:host {
  display: block;
}

.chart {
  width: 700px;
  height: 400px; /* Ajustez la hauteur selon vos préférences */
}
.chart-container {
  width: 400px; /* ou une largeur spécifique */
  height: 400px; /* ou une hauteur spécifique */
}
