.main {
  margin: none;
  padding: none;
}
.generator {
  display: flex;
}

.labelText {
  font-size: large;
}
.filter-section {
  width: 24%;
  background-color: rgb(146, 191, 236);
  min-height: 100vh;
}

.radio-group {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.data-filter {
  margin-top: 2%;
  /* border: #45a049 solid 1px; */
}

.chart-section {
  flex: 1;
  margin: auto;
}

.filter-section button {
  display: block;
  margin: 0 auto;
}
button {
  margin: auto;
  margin-top: 2%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.chart-container {
  margin-top: 5%;
}

.data-filter p {
  margin-top: 10px;
  font-weight: bold;
}

.chart-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.chart-legend {
  margin-top: 10px;
}
