<main class="main">
  <div class="filter-section">
    <label for="chartType">Choose Chart Type:</label>
    <div class="radio-group">
      <label>
        <input
          type="radio"
          name="chartType"
          [(ngModel)]="selectedChartType"
          value="bar"
        />
        Bar Chart
      </label>
      <label>
        <input
          type="radio"
          name="chartType"
          [(ngModel)]="selectedChartType"
          value="line"
        />
        Line Chart
      </label>
      <label>
        <input
          type="radio"
          name="chartType"
          [(ngModel)]="selectedChartType"
          value="pie"
        />
        Pie Chart
      </label>
      <label>
        <input
          type="radio"
          name="chartType"
          [(ngModel)]="selectedChartType"
          value="stack"
        />
        Stacked Bar Chart
      </label>
    </div>

    <div class="data-filter">
      <label>Data Filters:</label>
      <div *ngFor="let dataKey of dataKeys">
        <input type="checkbox" [(ngModel)]="selectedData[dataKey]" />
        {{ dataKey }}
      </div>
      <div>
        <input type="checkbox" [(ngModel)]="allDataSelected" /> All Data
      </div>
    </div>

    <button (click)="generateChart()">Generate Chart</button>
  </div>

  <div class="chart-section">
    <app-chart *ngIf="chartOptions" [chartOptions]="chartOptions"></app-chart>
  </div>
</main>
